
/* You can add global styles to this file, and also import other style files */
body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb( 41, 41, 41 );
}

$Luxury-Escapes-Visual-Language-1-hex: #2A4759;
$Luxury-Escapes-Visual-Language-2-hex: #687E8C;
$Luxury-Escapes-Visual-Language-3-hex: #B4CED9;
$Luxury-Escapes-Visual-Language-4-hex: #73440A;
$Luxury-Escapes-Visual-Language-5-hex: #BFBCBA;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

:root{
  --light: #B4CED9;
  --main: #687E8C;
  --dark: #2A4759;
}

@mixin glass{
  background: rgba(21,21, 21,0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

/* Color Theme Swatches in Hex */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

.leaflet-control-container{
  display: none;
}


.mat-dialog-container{
  @include glass;
}

.mat-select-panel{
  @include glass;
}
