
<app-toolbar>
  <form [formGroup]="trajectForm" class="form" (ngSubmit)="onValid()">

    <mat-form-field class="example-full-width">
      <mat-label>Depart</mat-label>
      <input type="text" (keyup)="onFormChange('start')" matInput formControlName="start">
      <mat-icon matSuffix color="accent" (click)="focus('start')">room</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Arrive</mat-label>
      <input type="text" matInput (keyup)="onFormChange('finish')" formControlName="finish">
      <mat-icon matSuffix color="primary" (click)="focus('finish')">room</mat-icon>
    </mat-form-field>

    <button mat-flat-button type="submit">
      <mat-icon>calculate</mat-icon>
      Calculate
    </button>

  </form>

  <h2>{{this.result || ""}}</h2>
</app-toolbar>
