@import "src/styles";

form{
  display: contents;
}

.form{
  &__coords{
    display: flex;
    gap: 10px;
    margin: 10px;
  }

  button{
    background: turquoise;
    color: rgb( 41, 41, 41 );
  }
}


app-toolbar{
  gap:10px;
}
